APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:RgFWkxE1tntSsiY8XFpNZ5xhwvVieC+KRTPYwnWMcNo=

DB_HOST=localhost
DB_DATABASE=lvdata
DB_USERNAME=root
DB_PASSWORD=root

CACHE_DRIVER=array
SESSION_DRIVER=file
QUEUE_DRIVER=database

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

/**
 * dingo api
 */
//标准树
API_STANDARDS_TREE=vnd

//前缀
API_PREFIX=api

//版本
API_VERSION=v1

//api 名称 生成文档时候需要使用
API_NAME="My API"

//带条件的请求
API_CONDITIONAL_REQUEST=false

//严格模式
API_STRICT=false

//返回格式
API_DEFAULT_FORMAT=json

//调试模式
API_DEBUG=true